
.smaller {
    color: blue
}

.point {
    font-size: 25px;
    color: black;
}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

li {
    background-color: rgb(116, 109, 109);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(116, 109, 109);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    height: auto;
    width: 500px;
}